# Ignore node_modules, it will be installed in the container
node_modules

# Ignore build output, it will be generated in the container
dist
.angular/cache

# Ignore local environment files and logs
.env
npm-debug.log*
*.log

# Ignore IDE/editor directories
.vscode
.idea